<mat-drawer-container class="app-container" [hasBackdrop]="true">
  <mat-drawer-content>
    <header class="header">
      <div class="header--content">
        <h1 tabindex="0" [attr.aria-label]="appConstants['APP_TITLE']">
          {{ appConstants['APP_TITLE'] }}
        </h1>
        <div>
          <button
            data-testing="toggle-reading-list"
            mat-button
            (click)="drawer.toggle()"
          >
            Reading List
            <tmo-total-count></tmo-total-count>
          </button>
        </div>
      </div>
    </header>
    <main>
      <tmo-book-search></tmo-book-search>
    </main>
  </mat-drawer-content>
  <mat-drawer #drawer mode="over" position="end">
    <div class="reading-list-container" data-testing="reading-list-container">
      <h2 tabindex="0" aria-label="Reading list">
        {{ appConstants['READING_LIST_TITLE'] }}
        <button
          mat-icon-button
          (click)="drawer.close()"
          aria-label="Close reading list side nav"
          tabindex="0"
        >
          <mat-icon aria-hidden="true">close</mat-icon>
        </button>
      </h2>
      <div class="reading-list-content">
        <tmo-reading-list></tmo-reading-list>
      </div>
    </div>
  </mat-drawer>
</mat-drawer-container>
